[Unit]
Description=acromere
After=syslog.target

[Service]
User=acm
ExecStart=/opt/acm/web/www.acromere.com/server/acromere.jar --server.port=5050
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
