/*
206080
Tints: #206080 #297aa3 #3194c6 #50a7d3 #73b9dc #96cbe5 #b9dced #dcedf6 #ffffff
Shades: #206080 #1c5470 #184860 #143c50 #103040 #0c2430 #081820 #040c10 #000000

804020
Tints: #804020 #a35229 #c66331 #d37c50 #dc9673 #e5b096 #edcbb9 #f6e5dc #ffffff
Shades: #804020 #70381c #603018 #502814 #402010 #30180c #201008 #100804 #000000
*/

/*@font-face {*/
/*	font-family: sansation;*/
/*	font-weight: normal;*/
:root {
	--primary-base: #206080;

	--primary-tint-1: #297aa3;
	--primary-tint-2: #3194c6;
	--primary-tint-3: #50a7d3;
	--primary-tint-4: #73b9dc;
	--primary-tint-5: #96cbe5;
	--primary-tint-6: #b9dced;
	--primary-tint-7: #dcedf6;

	--primary-shade-1: #1c5470;
	--primary-shade-2: #184860;
	--primary-shade-3: #143c50;
	--primary-shade-4: #103040;
	--primary-shade-5: #0c2430;
	--primary-shade-6: #081820;
	--primary-shade-7: #040c10;

	--inverse-base: #804020;

	--inverse-tint-1: #a35229;
	--inverse-tint-2: #c66331;
	--inverse-tint-3: #d37c50;
	--inverse-tint-4: #dc9673;
	--inverse-tint-5: #e5b096;
	--inverse-tint-6: #edcbb9;
	--inverse-tint-7: #f6e5dc;

	--inverse-shade-1: #70381c;
	--inverse-shade-2: #603018;
	--inverse-shade-3: #502814;
	--inverse-shade-4: #402010;
	--inverse-shade-5: #30180c;
	--inverse-shade-6: #201008;
	--inverse-shade-7: #100804;

	--gray-1: #101010;
	--gray-2: #202020;
	--gray-3: #303030;
	--gray-4: #404040;
	--gray-5: #505050;
	--gray-6: #606060;
	--gray-7: #707070;
	--gray-8: #808080;
	--gray-9: #909090;
	--gray-10: #a0a0a0;
	--gray-11: #b0b0b0;
	--gray-12: #c0c0c0;
	--gray-13: #d0d0d0;
	--gray-14: #e0e0e0;
	--gray-15: #f0f0f0;

	--primary-light: var(--primary-tint-4);
	--primary-dark: var(--primary-base);
	--primary-tint-light: var(--primary-tint-5);
	--primary-tint-dark: var(--primary-tint-1);
	--primary-shade-light: var(--primary-tint-2);
	--primary-shade-dark: var(--primary-shade-2);

	--anchor-light: var(--primary-base);
	--anchor-light-hover: var(--primary-tint-2);
	--anchor-dark: var(--primary-tint-4);
	--anchor-dark-hover: var(--primary-tint-5);

	--text-light: var(--gray-5);
	--text-dark: var(--gray-14);

	--background-light: var(--gray-14);
	--background-dark: var(--gray-5);
	--background-secondary-light: var(--gray-15);
	--background-secondary-dark: var(--gray-6);

	--monospaced-font: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*	src: url('./font/sansation/Sansation-Regular.ttf');*/

/*}*/

html {
	color-scheme: light dark;
	font-family: system-ui;
	display: flex;
	align-items: start;
	justify-content: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	min-width: 100vw;
	min-height: 100vh;
	color: light-dark(var(--text-light), var(--text-dark));
	background-color: light-dark(var(--background-light), var(--background-dark));
}

h1 {
	font-size: 3rem;
	font-weight: normal;
	margin: 1rem 0 0 0;
	white-space: nowrap;
}

h2 {
	font-size: 2.5rem;
	font-weight: normal;
	margin: 1rem 0 0 0;
	white-space: nowrap;
}

h3 {
	font-size: 2rem;
	font-weight: normal;
	margin: 0.8rem 0 0 0;
	white-space: nowrap;
}

h4 {
	font-size: 1.8rem;
	font-weight: normal;
	margin: 0.7rem 0 0 0;
	white-space: nowrap;
}

h5 {
	font-size: 1.5rem;
	font-weight: normal;
	margin: 0.6rem 0 0 0;
	white-space: nowrap;
}

h6 {
	font-size: 1.2rem;
	font-weight: normal;
	margin: 0.5rem 0 0 0;
	white-space: nowrap;
}

a {
	color: light-dark(var(--anchor-light), var(--anchor-dark));
	text-decoration: none;
}

a:hover {
	color: light-dark(var(--anchor-light-hover), var(--anchor-dark-hover));
}


p {
	font-size: 1rem;
	text-align: justify;
	margin: 0;
}

code {
	font-family: var(--monospaced-font), monospace;
}

pre {
	font-family: var(--monospaced-font), monospace;
	background-color: light-dark(var(--background-secondary-light), var(--background-secondary-dark));
	display: block;
	margin-top: 0.25rem;
	padding: 0.25rem;
}

.debug {
	border: var(--inverse-tint-2) solid 1px;
	background-color: var(--inverse-shade-2);
}

.nowrap {
	white-space: nowrap;
}

.row {
	display: flex;
	flex-flow: row nowrap;
}

.app {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}

.icon {
	width: 1em;
	height: 1em;
}

/* Icons in headers should have the normal text color */
h1 .icon, h2 .icon, h3 .icon, h4 .icon, h5 .icon, h6 .icon {
	color: light-dark(var(--text-light), var(--text-dark));
}

.header {
	color: light-dark(var(--text-light), var(--text-dark));
	background-color: light-dark(var(--primary-light), var(--primary-dark));

	font-family: sansation, sans-serif;

	align-self: stretch;

	/* Match this with the footer */
	padding: 0 1rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.marquee {
	height: 2.5rem;
	margin: 0 0 0 0;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.marquee .icon {
	display: block;
	width: 2rem;
	height: 2rem;
}

.marquee a {
	color: light-dark(var(--text-light), var(--text-dark));

	/* Height is determined by the menu height */
	padding: 0 0.5rem;

	font-size: 1.8rem;

	display: flex;
	align-items: center;
}

.menu {
	height: 2.5rem;
	margin: 0 0 0 0;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: stretch;
}

.menu a {
	color: light-dark(var(--text-light), var(--text-dark));

	/* Height is determined by the menu height */
	padding: 0 0.5rem;

	font-size: 1.8rem;

	display: flex;
	align-items: center;
}

.menu a:hover {
	background: light-dark(var(--primary-tint-light), var(--primary-tint-dark));
}

.menu a.marquee {
	margin-right: 1rem;
}

/* Eventually rename to .content and rename .content below*/
.router {
	flex-grow: 1;

	display: flex;
	flex-flow: column nowrap;
}

/* Eventually rename to .page and rename .router above*/
.content {
	max-width: 80rem;
	min-width: 10rem;

	padding: 1rem;

	/* flex child constraints */
	flex: 100 1 auto;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.page-icon {
	/* Requires centered items */
	display: flex;
	flex-flow: row nowrap;
	/* along the main axis */
	justify-content: center;
	/* along the cross axis */
	align-items: center;
}

.page-icon .icon {
	width: 8rem;
	height: 8rem;
}

.centered-items {
	display: flex;
	flex-flow: row nowrap;
	/* along the main axis */
	justify-content: center;
	/* along the cross axis */
	align-items: center;
}

.footer {
	color: light-dark(var(--text-light), var(--text-dark));
	background-color: light-dark(var(--primary-light), var(--primary-dark));
	align-self: stretch;

	/* Match this with the header */
	padding: 0.2rem 2rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.footer .tag-line {
}

.footer .copyright {
}

.footer a, .footer a:hover {
	/* Override the standard anchor colors */
	color: light-dark(var(--text-light), var(--text-dark));
}
